body {
    overflow: hidden;
}
  

.home::-webkit-scrollbar {
    display: none;
}
  
.home {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  

.home {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

.home-section {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10vh;
    padding-top: 12vh;
    scroll-snap-align: start;
}

.home-section#tech-stack {
    align-items: flex-start;
    margin-bottom: 0;
}


.home-section h1 {
    align-self: center; 
    margin: 0;
    font-size: 2.5em;   
}

/* About Styles */

.about-section .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 2fr;  
    gap: 1em; 
    align-items: start; 
    width: 90%; 
    height: 100%;
}

.about-section .about-text h2 {
    font-size: 2em;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 0;
    margin-top: 0;
}

.about-section .about-text .social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.about-section .about-text .social-icons a {
    color: inherit;  
    text-decoration: none;  
}

.about-section .about-text .social-icons i {
    font-size: 2.5em; 
}

.about-section .about-text p {
    text-align: left;
    margin-top: 1em;  
    font-size: .9em;
}

.about-section .about-image {
    width: 100%;  
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .about-image img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
}

.learn-more a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #F8F8FF;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.learn-more-icon {
    transition: transform 0.3s ease;
}

.learn-more a:hover {
    color: #21F00C;
}

.learn-more a:hover .learn-more-icon {
    transform: translateX(5px);
}

.learn-more a:hover,
.learn-more a:hover .learn-more-icon {
  color: #21F00C;
  transform: translateX(5px);
}

.scroll-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}