.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #2d2d2d; 
    padding: 20px 50px;
    box-sizing: border-box;
    color: #F8F8FF; 
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
    transition: top 0.3s;
}

.navbar .name {
}

.navbar .links {
    display: flex;
    gap: 20px; 
}

.navbar .links .nav-link {
    color: #F8F8FF; 
    text-decoration: none;
}

.navbar .links .nav-link:hover, .navbar .links .nav-link:active {
    color: #21F00C;
}

.navbar .links .active-link {
    color: #21F00C;
    text-decoration: none;
}

@media (max-width: 599px) {
    .navbar {
        padding: 15px 30px;
        font-size: 14px;
    }

    .navbar .links {
        gap: 10px; 
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .navbar {
        padding: 17px 40px;
        font-size: 16px;
    }

    .navbar .links {
        gap: 15px; 
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .navbar {
        padding: 19px 45px;
        font-size: 18px;
    }

    .navbar .links {
        gap: 18px; 
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .navbar {
        padding: 20px 50px;
        font-size: 20px;
    }

    .navbar .links {
        gap: 20px; 
    }
}

@media (min-width: 1800px) {
    .navbar {
        padding: 22px 60px;
        font-size: 22px;
    }

    .navbar .links {
        gap: 25px; 
    }
}
