.project-card {
    background-color: #292929;
    color: #F8F8FF;
    padding: 1em 1em 0;
    margin: 1em 1em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    text-align: center;
    height: 100%;
    overflow: auto;
}

.project-card .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card .project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
    font-size: 12px;
}

.project-card .project-tag {
    margin: 0.2em;
    padding: 0.2em 0.5em;
    background-color: #21F00C;
    color: #F8F8FF;
    border-radius: 20px;
}

.project-card p {
    text-align: left;
    font-size: 14px;
}

@media (max-width: 599px) {
    .project-card {
        padding: 0.8em 0.8em 0;
        margin: 0.5em 0.5em 0;
    }
    .project-card .project-tags,
    .project-card p {
        font-size: 8px;
    }
    .project-card h3 {
        font-size: 10px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .project-card {
        padding: 0.9em 0.9em 0;
        margin: 0.7em 0.7em 0;
    }
    .project-card .project-tags,
    .project-card p {
        font-size: 9px;
    }
    .project-card h3 {
        font-size: 11px;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .project-card {
        padding: 1em 1em 0;
        margin: 0.9em 0.9em 0;
    }
    .project-card .project-tags,
    .project-card p {
        font-size: 10px;
    }
    .project-card h3 {
        font-size: 12px;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .project-card {
        padding: 1.1em 1.1em 0;
        margin: 1.1em 1.1em 0;
    }
    .project-card .project-tags,
    .project-card p {
        font-size: 12px;
    }
    .project-card h3 {
        font-size: 14px;
    }
}

@media (min-width: 1800px) {
    .project-card {
        padding: 1.2em 1.2em 0;
        margin: 1.2em 1.2em 0;
    }
    .project-card .project-tags,
    .project-card p {
        font-size: 14px;
    }
    .project-card h3 {
        font-size: 16px;
    }
}