.details-content {
    max-width: 100%;
    padding: 2.5% 2.5%;
}

.details-content a {
    display: inline-block;
    color: #F8F8FF;
}

.details-content a:hover {
    color: #21F00C;
}

.details-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details-title {
    text-align: left;
}

.details-title h1 {
    font-size: 2em;
}

.details-github-link {
    text-align: left;
    padding-left: 1%;
}

.details-tech-stack {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.details-tech-item {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #21F00C;
    color: #333;
    font-size: 0.8em;
}

.details-description {
    text-align: left;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.details-section {
    margin-bottom: 2em;
}

.details-section h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.details-section p {
    margin-bottom: 0.5em;
}

@media (max-width: 599px) {
    .details-content {
        padding: 0 1.5%;
    }
    .details-title h1 {
        font-size: 1.3em;
    }
    .details-tech-item {
        font-size: 0.6em;
    }
    .details-description{
        font-size: 0.8em;
    }
    .details-section h2 {
        font-size: 1.0em;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .details-title h1 {
        font-size: 1.5em;
    }
    .details-tech-item {
        font-size: 0.65em;
    }
    .details-description{
        font-size: 0.9em;
    }
    .details-section h2 {
        font-size: 1.1em;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .details-title h1 {
        font-size: 1.6em;
    }
    .details-tech-item {
        font-size: 0.7em;
    }
    .details-section h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .details-title h1 {
        font-size: 1.9em;
    }
    .details-tech-item {
        font-size: 0.85em;
    }
    .details-section h2 {
        font-size: 1.45em;
    }
}

@media (min-width: 1800px) {
    .details-title h1 {
        font-size: 2em;
    }
    .details-tech-item {
        font-size: 0.9em;
    }
    .details-section h2 {
        font-size: 1.5em;
    }
}
