.tech-stack {
    margin: 0;
    padding-left: 5%;
}

.tech-stack h3,
.tech-icons {
    text-align: left;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.tech-icon {
    margin: 0.5em;
    position: relative;
    font-size: 2em;
}

@media (max-width: 599px) {
    .tech-stack {
        padding-left: 2%;
    }
    .tech-icons {
        font-size: 13px;
    }
    .tech-icon {
        font-size: 1.7em;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .tech-stack {
        padding-left: 3%;
    }
    .tech-icons {
        font-size: 14px;
    }
    .tech-icon {
        font-size: 1.8em;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .tech-stack {
        padding-left: 4%;
    }
    .tech-icons {
        font-size: 15px;
    }
    .tech-icon {
        font-size: 1.9em;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .tech-stack {
        padding-left: 4.5%;
    }
    .tech-icons {
        font-size: 15px;
    }
    .tech-icon {
        font-size: 1.95em;
    }
}

@media (min-width: 1800px) {
    .tech-stack {
        padding-left: 5%;
    }
    .tech-icons {
        font-size: 16px;
    }
    .tech-icon {
        font-size: 2em;
    }
}
